*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial';
}

:root{
    --a-color: #f8f9fb;
    --b-color: #1e1e1e;
    --c-color: #fea501;
    --d-color: #111111;
    --e-color: #777777;
    --f-color: #333333;
    --g-color: #222222;
    --shadow-color: rgba(51, 51, 51, .16);
}

header,
section.home_pg{
    padding: 0px 15px;
}

header{
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid var(--f-color);
    background: var(--a-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.head_left_img{
    width: 112px;
    cursor: pointer;
}

button{
    border: 1px solid var(--c-color);
    border-radius: 5px;
    padding: 7.5px 15px;
    background: transparent;
    color: var(--c-color);
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background: var(--c-color);
    color: var(--a-color);
    opacity: 1;
}

button.btn_login{
    background: var(--c-color);
    color: var(--a-color);
    opacity: .75;
}

button.btn_login:hover{
    opacity: 1;
}

section.home_pg{
    background: var(--d-color);
    color: var(--a-color);
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1.title{
    color: var(--a-color);
    font-size: 32px;
    margin-bottom: 25px;
}

h1.title > span{
    color: var(--c-color);
}

h1.title,
p.subtitle{
    text-align: center;
}

p.subtitle{
    color: var(--e-color);
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: normal;
}

section.home_pg br{
    display: none;
}

@media (min-width: 900px){
    header,
    section.home_pg{
        padding: 0px 60px;
    }

    h1.title{
        font-size: 40px;
    }

    p.subtitle{
        font-size: 20px;
    }

    section.home_pg br{
        display: block;
    }
}

@media (min-width: 1200px){
    header,
    section.home_pg{
        padding: 0px 120px;
    }

    h1.title{
        font-size: 44px;
    }

    p.subtitle{
        font-size: 22px;
    }
}